.sanitaire-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;  /* Ensures all items stretch to equal height */
    margin: 0 auto;
    padding: 10px;
    gap: 3px; 
    
}

.sanitaire-container > div {
    background-color: #1a1a1a;
    color: white;
    margin: 15px;
    flex: 1 1 calc(30% - 30px);   
    display: flex;
    align-items: stretch;  
    justify-content: center;
    max-width: 450px;
    min-height: 763px;
}

.item-border-san {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
    color: #000;
    padding: 10px;
    width: 100%;  /* Ensures it takes full width of the parent div */
    height: 100%;  /* Makes sure the item-border div takes the full height */
    border-left: 5px solid #0E3388;
    border-top: 5px solid #0E3388;
    border-bottom: 5px solid #0E3388;
    align-items: center;
    justify-content: center;
}

.item-border-san::before,
.item-border-san::after {
    content: "";
    position: absolute;
    width: 5px;
    background-color: #0E3388;
    right: 0;
}

.item-border-san::before {
    height: 25%;
    top: 0;
}

.item-border-san::after {
    height: 25%;
    bottom: 0;
}

.image32 img {
 
    object-fit: cover;
    width: 100%;  /* Ensures the image stretches to fill the available width */
    height: 200px; /* Maintain aspect ratio */
    object-fit: cover;
}

.item-sani {
    padding: 20px;
    position: relative;
    text-align: center;
}

.item-sani img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    z-index: 1;
}

.item-sani h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.item-sani h4 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.item-sani p {
    font-size: 0.9rem;
    line-height: 1.4;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .sanitaire-container > div {
        flex: 1 1 calc(50% - 30px);  /* 50% width for each item */
    }

    .image32 img {
        width: 100%;  /* Ensures the image scales with the container */
        height: auto; 
    }
}

@media (max-width: 768px) {
    .sanitaire-container > div {
        flex: 1 1 calc(45% - 30px);  /* 45% width for each item */
    }

    .image32 img {
        width: 100%;  /* Ensures the image scales with the container */
        height: auto; 
    }
}

@media (max-width: 480px) {
    .sanitaire-container > div {
        flex: 1 1 100%;  /* Full width for each item */
    }

    .image32 img {
        width: 100%;  /* Ensures the image scales with the container */
    height: auto; 
    }

    .item-sani img {
        width: 100%;  /* Ensures the image scales with the container */
    height: auto; 
    }
}
