@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;     
}

@media (max-width: 425px) {
  .contact .absolute {
    transform: translateX(-30%) translateY(190px);
    left: 50%; 
  }

  .contact .absolute img {
    width: 493px;
    height: 493px; 
    object-fit: contain;
  }
}
